<!DOCTYPE htmL>
 <html Lang="en">
 <head>
   <meta charset= "UTF-8">
   <title>SSRMMS</title>
   <link rel="stylesheet" href="static/css/escritorio.css" th:href="@{/css/escritorio.css}">
 </head>
 <body>
    <header>
        <a href="#" class="logo">SSRMMS</a>
        <div class="group">
            <ul class="navegation">
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        
    </header>
    <div class="conteiner">
        <div class="title"><h1></h1>
        </div>
        <!--BOTON USUARIO-->
        <div class="box" style="--clr:#89ec5b;">
            <div class="content">
                <div class="icon"><ion-icon name="person"></ion-icon></div>
                <div class="text">
                    <h3>Usuarios</h3>
                    <p>Creacion y gestion de usuarios</p>
                    <a href="/userForm">Usuarios</a>
                </div>
            </div>
        </div>
        <!--BOTON PRODUCTOS-->
        <div class="box" style="--clr:#eb5ae5;">
            <div class="content">
                <div class="icon"><ion-icon name="cube"></ion-icon></div>
                <div class="text">
                    <h3>Productos</h3>
                    <p>Creacion y gestion de productos</p>
                    <a href="#">Productos</a>
                </div>
            </div>
        </div>
        <!--BOTON VENTA-->
        <div class="box" style="--clr:#5b98eb;">
            <div class="content">
                <div class="icon"><ion-icon name="bag-handle"></ion-icon></div>
                <div class="text">
                    <h3>Venta</h3>
                    <p>Vende tus productos</p>
                    <a href="#">Venta</a>
                </div>
            </div>
        </div>
        <!--BOTON Clientes-->
        <div class="box" style="--clr:#dcee3f;">
            <div class="content">
                <div class="icon"><ion-icon name="accessibility"></ion-icon></div>
                <div class="text">
                    <h3>Clientes</h3>
                    <p>Informacion de los usuarios</p>
                    <a href="#">Clientes</a>
                </div>
            </div>
        </div>
        <!--BOTON Compras-->
        <div class="box" style="--clr:#2c29dd;">
            <div class="content">
                <div class="icon"><ion-icon name="storefront"></ion-icon></div>
                <div class="text">
                    <h3>Compras</h3>
                    <p>Compra de productos</p>
                    <a href="#">Compras</a>
                </div>
            </div>
        </div>
        <!--BOTON Presupuesto-->
        <div class="box" style="--clr:#15e3eb;">
            <div class="content">
                <div class="icon"><ion-icon name="cash"></ion-icon></div>
                <div class="text">
                    <h3>Presupuesto</h3>
                    <p>Gestiona los presupuestos de tus clientes</p>
                    <a href="#">Presupuesto</a>
                </div>
            </div>
        </div>
        <!--BOTON Terminal punto de venta-->
        <div class="box" style="--clr:#15eb6e;">
            <div class="content">
                <div class="icon"><ion-icon name="card"></ion-icon></div>
                <div class="text">
                    <h3>Terminal punto de venta</h3>
                    <p>Vende tus productos</p>
                    <a href="#">Terminal punto de venta</a>
                </div>
            </div>
        </div>
        <!--BOTON Pedidos-->
        <div class="box" style="--clr:#eb1515;">
            <div class="content">
                <div class="icon"><ion-icon name="clipboard"></ion-icon></div>
                <div class="text">
                    <h3>Pedidos</h3>
                    <p>Crea y consulta tus pedidos</p>
                    <a href="#">Pedidos</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
 </body>
 </html>